body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin:auto;
    padding: 20px;
    line-height: 1.6;
}

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

h1, h2 {
    color: #222;
}